  html {
      scroll-behavior: smooth;
    }
    .menu-fixo {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 50;
      background: white;
      padding: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    section {
      padding-top: 80px; /* espaço por causa do menu fixo */
    }
    .btn-menu {
      margin-right: 10px;
      background-color: #facc15;
      padding: 8px 12px;
      border-radius: 6px;
      font-weight: bold;
      cursor: pointer;
      border: none;
    }
    